@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* main style */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  width: 60%;
}

/* right */
.desktop-hero {
  background: url("./images/hero-desktop.jpg") center no-repeat;
  background-size: cover;
  width: 40%;
  height: 100vh;
}

/* left inner styles */
.inner {
  width: 70%;
  margin: 0 auto;
}

.logo-container {
  
  width: auto;
  display: flex;
  flex-direction: column;
}

.logo { 
  width: 200px; 
}


.collective {
  margin-top: 8px;
  width: 200px;
}

.title {
  display: flex;
  flex-direction: column;
}
.no-margin {
  margin: 0 0 0 0;
}
.mobile-hero {
  display: none;
}

.background {
  position: relative;
  background: linear-gradient(to bottom right, #ffb86c, #ff7e5f);
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1c7ea0;

  margin-bottom: 0;
}

h1 span {
  font-weight: 300;
  color: #1f465a;
}

p {
  line-height: 1.8;
  font-size: 20px;
  color: #1f465a;
}


button {
  height: 50%;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  background: #1c7ea0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

button:hover {
  background-color: #155d7a; 
  transform: scale(1.05); /* Slightly larger size on hover */
}

.gg-arrow-right {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  margin-left: 15px;
}

.gg-arrow-right::after,
.gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px;
}

.gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}

.gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
}

@media screen and (max-width: 900px) {
  .container {
    height: auto;
    margin: auto;
  }

  .left {
    width: 100%;
  }

  .inner {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  p,
  form {
    margin: 20px 40px 10px;
    text-align: center;
  }

  .button {
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    
  }

  .desktop-hero {
    display: none;
  }

  .mobile-hero {
    display: block;
    width: 100%;
  }
}
